html {
  height: 100%;
}

.App {
  text-align: center;
  background-color:burlywood;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 20px;
}

.main {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.leftpanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 20px;
}

.rightpanel {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sentence-entry {
  margin: 20px;
}
